body {
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    max-width:1440px;
}
footer{
  width: 1136px;
 margin: 72px auto 0;
 display: flex;
 justify-content: space-between;
}
#foot-menu a, footer p{
  color: #fff;
}


#foot-menu a{
  font-family: Roboto;
font-weight: 500;
font-size: 12px;
line-height: 14px;
 margin-right: 34px;
color: #FFFFFF;
}
footer p{

font-weight: normal;
font-size: 10px;
line-height: 11px;
margin: 0;
color: #FFFFFF;

}
a {
    text-decoration:none;
}
header{
  max-width: 1139px;
  margin: 38px auto 0 auto;
}
/*tablet*/
@media screen and (max-width:768px) {
  body{
    margin: 0;
  }
  #logo{
    margin-left: 24px;
    margin-top: 20px;
  }
  #top-menu{
    margin-right: 25px;
    margin-top: 20px;
  }
  header {
    background: rgba(0, 0, 0, 0.4);
    height: 70px;
    margin-top: 0;
    margin-left: 0;
  }
    footer{
    width: 471px;
    height: 63px;
    margin: 74px auto 28px 40px;
    display: block;
  }

  footer p{
    margin-top: 31px;
    text-align: center;
  }
  }
    /*tablet-end*/
    /*mobile*/
    @media screen and (max-width:525px){
      body{
        margin: 0;
      }

      .menu{

    margin-top: -20px;
    margin-left: 380px;
        width: 22px;
        height: 14px;

        }
        .rectangel1{

          width: 22px;
          height: 2px;
         margin-top: 4px;
          background: #FFFFFF;
        }
        .rectangel2{

          width: 22px;
          height: 2px;
          margin-top: 4px;
          background: #FFFFFF;
        }
        .rectangel3{;
          width: 22px;
          height: 2px;
        margin-top: 4px;
          background: #FFFFFF;
        }
      #top-menu{
      display: none;
      }
    footer p{
      margin-right: 98px;
    }
    }
    /*mobile-end*/
#logo {
  display: inline-block;
    color: white;
    font-size: 18px;
}
#top-menu{
  float: right;
}
#top-menu a{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
margin-left: 25px;
color: #FFFFFF;
}
#top-menu img,#top-menu svg {
  vertical-align: middle;
  margin-bottom: 10px;
}
.dl{
  margin-right: 6px;
}
.inst::before{
  content: url("../images/iconinst.svg")
}
.sign-header {
    position:relative;
    top: -39px;
    left: 20px;
    width: 324px;
    height: 150px;
    background: linear-gradient(90deg, #AB47BC 0%, #7B1FA2 100%);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.12), 0px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

.sign-header h1 {

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    padding-top:31px;
    text-align:center;

    color: #FFFFFF;
}

.sign-icons {
    margin-top:36px;
    text-align: center;
}

.sign-icons a {
    margin:0 18px;
}

.sign-clasical {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.87);

    text-align:center;
    margin-top:-7px;
    margin-bottom: 33px;
}

#sign-up form label {
    margin-left:26px;
    width: 28px;
}

#sign-up form input {
    width: 269px;
    margin-left:11px;
    margin-bottom: 46px;
    padding:0;
}



/*
    Form elements styles
*/
#sign-up {
    background-color: white;
    width: 365px;
    height: 509px;
    margin: 160px auto 0;
}

.underline {
    border: none;
    border-bottom: 1px solid grey;
}
.sub {
    background: transparent;
    border: none;
    color: #9C27B0;
    display: flex;
    margin: 0 auto;
}
